
 h1 {
    color:blue;
    }
/* *{
    border:solid;
    }  */
.header{
    background-color: lightcyan;
    display : flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer{
    display:flex ;
    justify-content:flex-end;}
p,h2{
    text-align: center;
}
         